/* screen - shop-app-delivery */

.shop-app-delivery {
  align-items: flex-start;
  background-color: rgba(25, 25, 25, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 804px;
  overflow-x: hidden;
  position: relative;
  width: 414px;
}
.shop-app-delivery .banner-home-img-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 173px;
  margin-top: 1px;
  object-fit: cover;
  position: relative;
  width: 414px;
}
.shop-app-delivery .barracolorida-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 8px;
  justify-content: flex-start;
  left: 0px;
  min-width: 414px;
  position: absolute;
  top: 0px;
  width: auto;
}
.shop-app-delivery .brigadeira-logo-zUA2mT {
  background-color: transparent;
  background-image: url(../img/brigadeira-logo-img@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 138px;
  width: 139px;
}
.shop-app-delivery .delivery-RH0WJ5 {
  background-color: transparent;
  color: var(--white);
  font-family: "Barlow", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 15px;
  letter-spacing: 0px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 88px;
  white-space: nowrap;
  width: 111px;
}
.img-logos {
  height: 138px;
  width: 138px;
}
.shop-app-delivery .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 277px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 416px;
  position: relative;
  width: auto;
}
.flex {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 416px;
  position: relative;
  width: auto;
}
.shop-app-delivery .fundo-azul-RH0WJ5 {
  background-color: rgba(35, 10, 68, 1);
  height: 135px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 276px;
}
.shop-app-delivery .fundo-roxo-RH0WJ5 {
  background-color: rgba(108, 28, 209, 1);
  height: 135px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.shop-app-delivery .group-11-HIUWuo {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 8px;
  justify-content: flex-start;
  min-width: 414px;
  position: relative;
  width: auto;
}
.shop-app-delivery .group-8-4eduM0 {
  background-color: transparent;
  height: 112px;
  left: 102px;
  position: absolute;
  top: 25px;
  width: 196px;
}
.shop-app-delivery .icon-delivery-BuWXEw {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  margin-top: -0.41px;
  position: relative;
  width: 50px;
}
.shop-app-delivery .icon-delivery-RH0WJ5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 33px;
  justify-content: center;
  left: 45px;
  min-width: 48px;
  position: absolute;
  top: 33px;
  width: auto;
}
.shop-app-delivery .icone-menu-4eduM0 {
  background-color: transparent;
  background-image: url(../img/icone-menu@2x.svg);
  background-size: 100% 100%;
  height: 31px;
  left: 25px;
  position: absolute;
  top: 73px;
  width: 41px;
}
.shop-app-delivery .iconeperfil-4eduM0 {
  background-color: transparent;
  background-image: url(../img/vector@2x.svg);
  background-size: 100% 100%;
  height: 45px;
  left: 334px;
  position: absolute;
  top: 66px;
  width: 45px;
}
.shop-app-delivery .minas-logo-dXBp89 {
  background-color: transparent;
  background-image: url(../img/minas-logo-img@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex-shrink: 1;
  height: 139px;
  margin-left: 0px;
  position: relative;
  width: 139px;
}
.shop-app-delivery .nitti-logo-zUA2mT {
  background-color: transparent;
  background-image: url(../img/nitti-logo-img@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 139px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 139px;
}
.shop-app-delivery .nuncafecha-RH0WJ5 {
  background-color: transparent;
  height: 55px;
  left: 171px;
  position: absolute;
  top: 43px;
  width: 214px;
}
.shop-app-delivery .nuncafecha-T8eb4S {
  background-color: transparent;
  color: var(--white);
  font-family: "Barlow", Helvetica;
  font-size: 31.9px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 31px;
  letter-spacing: 0px;
  line-height: 42.1px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: 181px;
}
.shop-app-delivery .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 161px;
  position: relative;
  width: 414px;
}
.shop-app-delivery .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 135px;
  margin-top: 0px;
  position: relative;
  width: 414px;
}
.shop-app-delivery .overlap-group2-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 277px;
  position: relative;
  width: 277px;
}
.shop-app-delivery .overlap-group2-vzsVjG {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  position: relative;
  width: 208px;
}
.shop-app-delivery .overlap-group3-vzsVjG {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
  width: 205px;
}
.shop-app-delivery .rectangle-11-DSa5uv {
  background-color: rgba(247, 81, 17, 1);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.shop-app-delivery .rectangle-12-DSa5uv {
  background-color: rgba(108, 28, 209, 1);
  height: 8px;
  left: 103px;
  position: absolute;
  top: 0px;
  width: 106px;
}
.shop-app-delivery .rectangle-13-7hjmpL {
  background-color: rgba(228, 29, 127, 1);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.shop-app-delivery .rectangle-14-7hjmpL {
  background-color: var(--white);
  height: 8px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.shop-app-delivery .rectangle-21-4eduM0 {
  background-color: rgba(35, 10, 68, 1);
  height: 153px;
  left: 0px;
  position: absolute;
  top: 8px;
  width: 414px;
}
.shop-app-delivery .wanda-logo-zUA2mT {
  background-color: transparent;
  background-image: url(../img/wanda-logo-img@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 139px;
  left: 138px;
  position: absolute;
  top: 138px;
  width: 139px;
}
.shop-app-delivery .x-T8eb4S {
  background-color: transparent;
  height: 44px;
  left: 1px;
  position: absolute;
  top: 4px;
  width: 44px;
}
