/* screen - shop-app-estetica */

.shop-app-estetica {
  align-items: flex-start;
  background-color: rgba(25,25,25,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 760px;
  overflow-x: hidden;
  position: relative;
  width: 414px;
}


.shop-app-estetica .esttica-4a9k2Y {
  background-color: transparent;
  color: var(--white);
  font-family: 'Barlow', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 88px;
  white-space: nowrap;
  width: 111px;
}

.shop-app-estetica .fundo-rosa-4a9k2Y {
  background-color: rgba(228,29,127,1.0);
  height: 135px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.shop-app-estetica .fundo-roxo-4a9k2Y {
  background-color: rgba(108,28,209,1.0);
  height: 135px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 276px;
}

.shop-app-estetica .icone-estetica-4a9k2Y {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: center;
  left: 42px;
  min-width: 56px;
  position: absolute;
  top: 21px;
  width: auto;
}
.shop-app-estetica .icone-estetica-yAffTz {
  background-color: transparent;
  flex-shrink: 1;
  height: 57px;
  margin-top: -0.33px;
  position: relative;
  width: 57px;
}



.shop-app-estetica .modaebeleza-4a9k2Y {
  background-color: transparent;
  height: 52px;
  left: 162px;
  position: absolute;
  top: 43px;
  width: 228px;
}
.shop-app-estetica .modaebeleza-ygXrXb {
  background-color: transparent;
  color: var(--white);
  font-family: 'Barlow', Helvetica;
  font-size: 31.9px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 42.1px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}



