/* screen - shop-app-home */

.shop-app-home {
  align-items: flex-start;
  background-color: rgba(25,25,25,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 1073px;
  overflow-x: hidden;
  position: relative;
  width: 414px;
}
.shop-app-home .agenda-do-ms-nlxkfa {
  background-color: transparent;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: left;
  top: 74px;
  width: 88px;
}
.shop-app-home .banner-home-img-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 173px;
  margin-top: 0px;
  object-fit: cover;
  position: relative;
  width: 414px;
}
.shop-app-home .banner-main-img-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 270px;
  object-fit: cover;
  position: relative;
  width: 276px;
}
.shop-app-home .barra-azul-svg-cBBgRE {
  background-color: var(--purple-heart);
  height: 8px;
  left: 103px;
  position: absolute;
  top: 0px;
  width: 106px;
}
.shop-app-home .barra-branca-svg-0Ia9xa {
  background-color: var(--white);
  height: 8px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.shop-app-home .barra-rosa-svg-0Ia9xa {
  background-color: rgba(228,29,127,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.shop-app-home .barra-vermelha-svg-cBBgRE {
  background-color: var(--international-orange);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.shop-app-home .barracolorida-y1HRxC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 8px;
  justify-content: flex-start;
  left: 0px;
  min-width: 414px;
  position: absolute;
  top: 0px;
  width: auto;
}
.shop-app-home .boticrio-i545537-bkBUvi {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12.7px;
  margin-right: -5px;
  margin-top: 7px;
  min-height: 18px;
  position: relative;
  text-align: center;
  width: 104px;
}
.shop-app-home .boticrio-i8548537-cVM2MY {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12.7px;
  margin-right: -5px;
  margin-top: 7px;
  min-height: 18px;
  position: relative;
  text-align: center;
  width: 104px;
}
.shop-app-home .boticrio-i8555537-xmYI7Q {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12.7px;
  margin-right: -5px;
  margin-top: 7px;
  min-height: 18px;
  position: relative;
  text-align: center;
  width: 104px;
}
.shop-app-home .cadastro-YUXJ3i {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 65px;
  justify-content: flex-start;
  left: 33px;
  min-width: 65px;
  position: absolute;
  top: 24px;
  width: auto;
}
.shop-app-home .cadastro-svg-RYVSPh {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 65px;
  justify-content: flex-start;
  min-width: 65px;
  position: relative;
  width: auto;
}
.shop-app-home .cadastro-xMQYUC {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 100px;
  white-space: nowrap;
  width: auto;
}
.shop-app-home .circulo-interno-svg-RBhHiT {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 96px;
}
.shop-app-home .circulo-interno-svg-jhxcxO {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 96px;
}
.shop-app-home .circulo-interno-svg-lXOMxY {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 96px;
}
.shop-app-home .circulo-svg-bkBUvi {
  background-color: transparent;
  flex-shrink: 1;
  height: 96px;
  position: relative;
  width: 96px;
}
.shop-app-home .circulo-svg-cVM2MY {
  background-color: transparent;
  flex-shrink: 1;
  height: 96px;
  position: relative;
  width: 96px;
}
.shop-app-home .circulo-svg-xmYI7Q {
  background-color: transparent;
  flex-shrink: 1;
  height: 96px;
  position: relative;
  width: 96px;
}
.shop-app-home .delivery-GW1jy1 {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 97px;
  white-space: nowrap;
  width: 111px;
}
.shop-app-home .delivery-svg-Coh1t5 {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  margin-top: -0.4px;
  position: relative;
  width: 49px;
}
.shop-app-home .estetica-svg-weG7u3 {
  background-color: transparent;
  flex-shrink: 1;
  height: 57px;
  margin-top: -0.33px;
  position: relative;
  width: 57px;
}
.shop-app-home .esttica-prdjcR {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 93px;
  white-space: nowrap;
  width: auto;
}
.shop-app-home .flex-col-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 620px;
  position: relative;
  width: 414px;
}
.shop-app-home .flex-col-Xi618D {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 0px;
  min-height: 453px;
  position: relative;
  width: 138px;
}
.shop-app-home .flex-col-dXBp89 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 453px;
  position: relative;
  width: 276px;
}
.shop-app-home .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 453px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 414px;
  position: relative;
  width: auto;
}
.shop-app-home .fundo-cinza-nlxkfa {
  background-color: rgba(55,43,43,1.0);
  height: 183px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 276px;
}
.shop-app-home .fundo-preto-GW1jy1 {
  background-color: rgba(35,10,68,1.0);
  height: 135px;
  left: 276px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.shop-app-home .fundo-rosa-prdjcR {
  background-color: rgba(228,29,127,1.0);
  height: 135px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.shop-app-home .fundo-roxo-GW1jy1 {
  background-color: var(--purple-heart);
  height: 135px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.shop-app-home .fundo-roxo-xMQYUC {
  background-color: var(--purple-heart);
  height: 135px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.shop-app-home .fundo-vermelho-8SqM8O {
  background-color: var(--international-orange);
  height: 183px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.shop-app-home .fundo-vermelho-GW1jy1 {
  background-color: var(--international-orange);
  height: 135px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.shop-app-home .gastro-svg-aIZ2L6 {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  margin-top: -0.4px;
  position: relative;
  width: 45px;
}
.shop-app-home .gastronomia-GW1jy1 {
  background-color: transparent;
  height: auto;
  left: 147px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 97px;
  white-space: nowrap;
  width: auto;
}
.shop-app-home .group-11-Xs8u4z {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 8px;
  justify-content: flex-start;
  min-width: 414px;
  position: relative;
  width: auto;
}
.shop-app-home .group-Bllyls {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 65px;
  justify-content: flex-start;
  min-width: 57px;
  position: relative;
  width: auto;
}
.shop-app-home .group-x99SLO {
  background-color: transparent;
  flex-shrink: 1;
  height: 65px;
  position: relative;
  width: 57px;
}
.shop-app-home .icondelivery-GW1jy1 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 33px;
  justify-content: center;
  left: 45px;
  min-width: 48px;
  position: absolute;
  top: 42px;
  width: auto;
}
.shop-app-home .iconearrow-nlxkfa {
  background-color: transparent;
  background-image: url(../img/arrow-svg@2x.svg);
  background-size: 100% 100%;
  height: 45px;
  left: 123px;
  position: absolute;
  top: 69px;
  width: 45px;
}
.shop-app-home .iconeestetica-prdjcR {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: center;
  left: 42px;
  min-width: 56px;
  position: absolute;
  top: 23px;
  width: auto;
}
.shop-app-home .iconegastronomia-GW1jy1 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 33px;
  justify-content: center;
  left: 185px;
  min-width: 44px;
  position: absolute;
  top: 42px;
  width: auto;
}
.shop-app-home .iconemenu-y1HRxC {
  background-color: transparent;
  background-image: url(../img/menu-svg@2x.svg);
  background-size: 100% 100%;
  height: 31px;
  left: 25px;
  position: absolute;
  top: 73px;
  width: 41px;
}
.shop-app-home .iconeperfil-y1HRxC {
  background-color: transparent;
  background-image: url(../img/perfil-svg@2x.svg);
  background-size: 100% 100%;
  height: 45px;
  left: 334px;
  position: absolute;
  top: 66px;
  width: 45px;
}
.shop-app-home .iconepontos-8SqM8O {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  left: 40px;
  min-width: 60px;
  position: absolute;
  top: 44px;
  width: auto;
}
.shop-app-home .logo-shop-y1HRxC {
  background-color: transparent;
  background-image: url(../img/logo-img@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 110px;
  left: 103px;
  position: absolute;
  top: 25px;
  width: 192px;
}
.shop-app-home .loja-svg-GW1jy1 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 42px;
  justify-content: center;
  left: 324px;
  min-width: 44px;
  position: absolute;
  top: 38px;
  width: auto;
}
.shop-app-home .lojas-GW1jy1 {
  background-color: transparent;
  height: auto;
  left: 318px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 97px;
  white-space: nowrap;
  width: auto;
}
.shop-app-home .mask-group-RBhHiT {
  background-color: transparent;
  height: 78px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 76px;
}
.shop-app-home .mask-group-jhxcxO {
  background-color: transparent;
  height: 78px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 76px;
}
.shop-app-home .mask-group-lXOMxY {
  background-color: transparent;
  height: 78px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 76px;
}
.shop-app-home .new-user-1-omrVM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 65px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 3.8px;
  position: relative;
  width: 65px;
}
.shop-app-home .overlap-group-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 312px;
  position: relative;
  width: 414px;
}
.shop-app-home .overlap-group1-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 183px;
  margin-top: 0px;
  position: relative;
  width: 276px;
}
.shop-app-home .overlap-group1-nzCgta {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  position: relative;
  width: 208px;
}
.shop-app-home .overlap-group2-nzCgta {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-left: 0px;
  margin-top: 0.0px;
  position: relative;
  width: 205px;
}
.shop-app-home .overlap-group2-y0eQTV {
  background-color: transparent;
  flex-shrink: 1;
  height: 183px;
  margin-top: 0px;
  position: relative;
  width: 138px;
}
.shop-app-home .overlap-group3-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 135px;
  margin-top: 0px;
  position: relative;
  width: 414px;
}
.shop-app-home .overlap-group4-y0eQTV {
  background-color: transparent;
  flex-shrink: 1;
  height: 135px;
  position: relative;
  width: 138px;
}
.shop-app-home .overlap-group5-y0eQTV {
  background-color: transparent;
  flex-shrink: 1;
  height: 135px;
  margin-top: 0px;
  position: relative;
  width: 138px;
}
.shop-app-home .pontos-svg-vdrz8r {
  background-color: transparent;
  flex-shrink: 1;
  height: 61px;
  margin-top: -0.33px;
  position: relative;
  width: 61px;
}
.shop-app-home .programa-de-pontos-8SqM8O {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 118px;
  width: 115px;
}
.shop-app-home .rectangle-21-y1HRxC {
  background-color: rgba(35,10,68,1.0);
  height: 304px;
  left: 0px;
  position: absolute;
  top: 8px;
  width: 414px;
}
.shop-app-home .storiestopo-7bcoqY {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 263px;
  min-height: 121px;
  position: absolute;
  top: 170px;
  width: 102px;
}
.shop-app-home .storiestopo-pqRchW {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 144px;
  min-height: 121px;
  position: absolute;
  top: 170px;
  width: 102px;
}
.shop-app-home .storiestopo-y1HRxC {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 25px;
  min-height: 121px;
  position: absolute;
  top: 170px;
  width: 102px;
}
.shop-app-home .vector-6fKz3d {
  background-color: transparent;
  height: 33px;
  left: 11px;
  position: absolute;
  top: -0px;
  width: 28px;
}
.shop-app-home .vector-JA94Z4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 43px;
  margin-top: -0.38px;
  position: relative;
  width: 45px;
}
.shop-app-home .vector-eElDl1 {
  background-color: transparent;
  height: 31px;
  left: -1px;
  position: absolute;
  top: 31px;
  width: 47px;
}
.shop-app-home .vector-kqxW9b {
  background-color: transparent;
  height: 26px;
  left: 32px;
  position: absolute;
  top: 39px;
  width: 26px;
}
