

/* screen - shop-app-home */

.shop-app-home {
  align-items: flex-start;
  background-color: rgba(25,25,25,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 1073px;
  overflow-x: hidden;
  position: relative;
  width: 414px;
}
.shop-app-home .agenda-do-ms-eSNWXa {
  background-color: transparent;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: left;
  top: 70px;
  width: 88px;
}
.shop-app-home .barracolorida-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 8px;
  justify-content: flex-start;
  left: 0px;
  min-width: 414px;
  position: absolute;
  top: 0px;
  width: auto;
}
.shop-app-home .boticrio-i545537-RXWVqI {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12.7px;
  margin-right: -5px;
  margin-top: 7px;
  min-height: 18px;
  position: relative;
  text-align: center;
  width: 104px;
}
.shop-app-home .boticrio-i552537-hb2xV8 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12.7px;
  margin-right: -5px;
  margin-top: 7px;
  min-height: 18px;
  position: relative;
  text-align: center;
  width: 104px;
}
.shop-app-home .boticrio-i566537-uxFvNA {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: 12.7px;
  margin-right: -5px;
  margin-top: 7px;
  min-height: 18px;
  position: relative;
  text-align: center;
  width: 104px;
}
.shop-app-home .cadastro-4a9k2Y {
  background-color: transparent;
  height: auto;
  left: 300px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 235px;
  white-space: nowrap;
  width: auto;
}
.shop-app-home .delivery-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 97px;
  white-space: nowrap;
  width: 111px;
}
.shop-app-home .ellipse-2-5Gam2Z {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 96px;
}
.shop-app-home .ellipse-2-QfrZdW {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 96px;
}
.shop-app-home .ellipse-2-o2nuKq {
  background-color: transparent;
  height: 96px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 96px;
}
.shop-app-home .esttica-4a9k2Y {
  background-color: transparent;
  height: auto;
  left: 305px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 93px;
  white-space: nowrap;
  width: auto;
}
.shop-app-home .gastronomia-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 147px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 97px;
  white-space: nowrap;
  width: auto;
}
.shop-app-home .group-11-HIUWuo {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 8px;
  justify-content: flex-start;
  min-width: 414px;
  position: relative;
  width: auto;
}
.shop-app-home .group-8-4eduM0 {
  background-color: transparent;
  height: 112px;
  left: 102px;
  position: absolute;
  top: 25px;
  width: 196px;
}
.shop-app-home .icondelivery-RH0WJ5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 33px;
  justify-content: center;
  left: 45px;
  min-width: 48px;
  position: absolute;
  top: 42px;
  width: auto;
}
.shop-app-home .iconearrow-eSNWXa {
  background-color: transparent;
  background-image: url(../img/vector-6@2x.svg);
  background-size: 100% 100%;
  height: 50px;
  left: 123px;
  position: absolute;
  top: 65px;
  width: 50px;
}
.shop-app-home .iconeestetica-4a9k2Y {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: center;
  left: 318px;
  min-width: 56px;
  position: absolute;
  top: 23px;
  width: auto;
}
.shop-app-home .iconegastronomia-RH0WJ5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 33px;
  justify-content: center;
  left: 185px;
  min-width: 44px;
  position: absolute;
  top: 42px;
  width: auto;
}
.shop-app-home .iconelojas-RH0WJ5 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 42px;
  justify-content: center;
  left: 324px;
  min-width: 44px;
  position: absolute;
  top: 38px;
  width: auto;
}
.shop-app-home .iconeperfil-4eduM0 {
  background-color: transparent;
  background-image: url(../img/vector-8@2x.svg);
  background-size: 100% 100%;
  height: 55px;
  left: 334px;
  position: absolute;
  top: 66px;
  width: 55px;
}
.shop-app-home .iconepontos-eSNWXa {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  left: 316px;
  min-width: 60px;
  position: absolute;
  top: 40px;
  width: auto;
}
.shop-app-home .iconeuser-4a9k2Y {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  left: 324px;
  min-width: 45px;
  position: absolute;
  top: 175px;
  width: auto;
}
.shop-app-home .inconemenu-4eduM0 {
  background-color: transparent;
  background-image: url(../img/vector-7@2x.svg);
  background-size: 100% 100%;
  height: 31px;
  left: 25px;
  position: absolute;
  top: 73px;
  width: 41px;
}
.shop-app-home .lojas-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 318px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 97px;
  white-space: nowrap;
  width: auto;
}
.shop-app-home .mask-group-5Gam2Z {
  background-color: transparent;
  height: 78px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 76px;
}
.shop-app-home .mask-group-QfrZdW {
  background-color: transparent;
  height: 78px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 76px;
}
.shop-app-home .mask-group-o2nuKq {
  background-color: transparent;
  height: 78px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 76px;
}
.shop-app-home .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 312px;
  position: relative;
  width: 414px;
}
.shop-app-home .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 135px;
  margin-top: 0px;
  position: relative;
  width: 414px;
}
.shop-app-home .overlap-group2-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 274px;
  margin-top: 0px;
  position: relative;
  width: 415px;
}
.shop-app-home .overlap-group3-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 179px;
  margin-top: 0px;
  position: relative;
  width: 415px;
}
.shop-app-home .overlap-group4-vzsVjG {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  position: relative;
  width: 208px;
}
.shop-app-home .overlap-group5-vzsVjG {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-left: 0px;
  margin-top: 0.0px;
  position: relative;
  width: 205px;
}
.shop-app-home .programa-de-pontos-eSNWXa {
  background-color: transparent;
  height: auto;
  left: 288px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 114px;
  width: 115px;
}
.shop-app-home .rectangle-11-25fHuc {
  background-color: var(--international-orange);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.shop-app-home .rectangle-12-25fHuc {
  background-color: var(--purple-heart);
  height: 8px;
  left: 103px;
  position: absolute;
  top: 0px;
  width: 106px;
}
.shop-app-home .rectangle-12-RH0WJ5 {
  background-color: var(--purple-heart);
  height: 135px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.shop-app-home .rectangle-13-wZSuRl {
  background-color: rgba(228,29,127,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.shop-app-home .rectangle-14-wZSuRl {
  background-color: var(--violet);
  height: 8px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.shop-app-home .rectangle-15-4a9k2Y {
  background-color: rgba(228,29,127,1.0);
  height: 137px;
  left: 275px;
  position: absolute;
  top: 0px;
  width: 140px;
}
.shop-app-home .rectangle-16-4a9k2Y {
  background-color: var(--purple-heart);
  height: 137px;
  left: 275px;
  position: absolute;
  top: 137px;
  width: 140px;
}
.shop-app-home .rectangle-17-RH0WJ5 {
  background-color: var(--international-orange);
  height: 135px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.shop-app-home .rectangle-18-RH0WJ5 {
  background-color: var(--violet);
  height: 135px;
  left: 276px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.shop-app-home .rectangle-19-eSNWXa {
  background-color: var(--international-orange);
  height: 179px;
  left: 275px;
  position: absolute;
  top: 0px;
  width: 140px;
}
.shop-app-home .rectangle-21-4eduM0 {
  background-color: var(--violet);
  height: 304px;
  left: 0px;
  position: absolute;
  top: 8px;
  width: 414px;
}
.shop-app-home .rectangle-9-eSNWXa {
  background-color: rgba(55,43,43,1.0);
  height: 179px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 276px;
}
.shop-app-home .ricardo-montanh-2-de-fev-hoje-1-4a9k2Y {
  background-color: transparent;
  height: 274px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 276px;
}
.shop-app-home .stories-RXWVqI {
  background-color: transparent;
  flex-shrink: 1;
  height: 96px;
  position: relative;
  width: 96px;
}
.shop-app-home .stories-hb2xV8 {
  background-color: transparent;
  flex-shrink: 1;
  height: 96px;
  position: relative;
  width: 96px;
}
.shop-app-home .stories-uxFvNA {
  background-color: transparent;
  flex-shrink: 1;
  height: 96px;
  position: relative;
  width: 96px;
}
.shop-app-home .storiestopo-4eduM0 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 32px;
  min-height: 121px;
  position: absolute;
  top: 170px;
  width: 102px;
}
.shop-app-home .storiestopo-6sb1qn {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 287px;
  min-height: 121px;
  position: absolute;
  top: 170px;
  width: 102px;
}
.shop-app-home .storiestopo-BJQsbv {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 164px;
  min-height: 121px;
  position: absolute;
  top: 170px;
  width: 102px;
}
.shop-app-home .vector-RnlF4y {
  background-color: transparent;
  flex-shrink: 1;
  height: 61px;
  margin-top: -0.33px;
  position: relative;
  width: 61px;
}
.shop-app-home .vector-USZvDH {
  background-color: transparent;
  flex-shrink: 1;
  height: 57px;
  margin-top: -0.33px;
  position: relative;
  width: 57px;
}
.shop-app-home .vector-Z5mEPh {
  background-color: transparent;
  flex-shrink: 1;
  height: 43px;
  margin-top: -0.38px;
  position: relative;
  width: 45px;
}
.shop-app-home .vector-cWFyrQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  margin-top: -0.4px;
  position: relative;
  width: 45px;
}
.shop-app-home .vector-hQaHjI {
  background-color: transparent;
  flex-shrink: 1;
  height: 50px;
  margin-top: -0.23px;
  position: relative;
  width: 46px;
}
.shop-app-home .vector-uOpcJf {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  margin-top: -0.4px;
  position: relative;
  width: 49px;
}
.shop-app-home .x2021c02-banner-s-docesv2-1-1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 173px;
  margin-top: 0px;
  object-fit: cover;
  position: relative;
  width: 415px;
}
