/* screen - shop-app-lojas */

.shop-app-lojas {
  align-items: flex-start;
  background-color: rgba(25,25,25,1.0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 821px;
  overflow-x: hidden;
  position: relative;
  width: 414px;
}
.shop-app-lojas .banner-lojas-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 182px;
  margin-top: 3px;
  object-fit: cover;
  position: relative;
  width: 414px;
}
.shop-app-lojas .barracolorida-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 8px;
  justify-content: flex-start;
  left: 0px;
  min-width: 414px;
  position: absolute;
  top: 0px;
  width: auto;
}
.shop-app-lojas .boticario-logo-RH0WJ5 {
  background-color: transparent;
  background-image: url(../img/boticario-logo-img@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 139px;
}
.shop-app-lojas .comodidade-4a9k2Y {
  background-color: transparent;
  height: 52px;
  left: 162px;
  position: absolute;
  top: 40px;
  width: 214px;
}
.shop-app-lojas .comodidade-kdIUlB {
  background-color: transparent;
  color: var(--white);
  font-family: 'Barlow', Helvetica;
  font-size: 31.9px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 42.1px;
  position: absolute;
  text-align: left;
  top: 6px;
  white-space: nowrap;
  width: auto;
}
.shop-app-lojas .fundo-roxo-4a9k2Y {
  background-color: rgba(108,28,209,1.0);
  height: 135px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 138px;
}
.shop-app-lojas .fundo-vermelho-4a9k2Y {
  background-color: rgba(247,81,17,1.0);
  height: 135px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 276px;
}
.shop-app-lojas .group-11-HIUWuo {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 8px;
  justify-content: flex-start;
  min-width: 414px;
  position: relative;
  width: auto;
}
.shop-app-lojas .icone-lojas-4a9k2Y {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 42px;
  justify-content: center;
  left: 47px;
  min-width: 44px;
  position: absolute;
  top: 28px;
  width: auto;
}
.shop-app-lojas .icone-lojas-Bm1G0g {
  background-color: transparent;
  flex-shrink: 1;
  height: 43px;
  margin-top: -0.38px;
  position: relative;
  width: 45px;
}
.shop-app-lojas .icone-menu-4eduM0 {
  background-color: transparent;
  background-image: url(../img/icone-menu@2x.svg);
  background-size: 100% 100%;
  height: 31px;
  left: 25px;
  position: absolute;
  top: 73px;
  width: 41px;
}
.shop-app-lojas .iconeperfil-4eduM0 {
  background-color: transparent;
  background-image: url(../img/vector@2x.svg);
  background-size: 100% 100%;
  height: 45px;
  left: 334px;
  position: absolute;
  top: 66px;
  width: 45px;
}
.shop-app-lojas .info-group-logo-RH0WJ5 {
  background-color: transparent;
  background-image: url(../img/info-group-logo-img@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 139px;
  left: 138px;
  position: absolute;
  top: 0px;
  width: 139px;
}
.shop-app-lojas .lens-logo-RH0WJ5 {
  background-color: transparent;
  background-image: url(../img/lens-logo-img@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 139px;
  left: 276px;
  position: absolute;
  top: 0px;
  width: 139px;
}
.shop-app-lojas .logo-shop-4eduM0 {
  background-color: transparent;
  background-image: url(../img/logo-img@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 110px;
  left: 103px;
  position: absolute;
  top: 25px;
  width: 192px;
}
.shop-app-lojas .lojas-4a9k2Y {
  background-color: transparent;
  color: var(--white);
  font-family: 'Barlow', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 85px;
  white-space: nowrap;
  width: 111px;
}
.shop-app-lojas .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 161px;
  position: relative;
  width: 414px;
}
.shop-app-lojas .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 276px;
  margin-top: 0px;
  position: relative;
  width: 415px;
}
.shop-app-lojas .overlap-group2-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 135px;
  margin-top: 0px;
  position: relative;
  width: 414px;
}
.shop-app-lojas .overlap-group3-vzsVjG {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  position: relative;
  width: 208px;
}
.shop-app-lojas .overlap-group4-vzsVjG {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-left: 0px;
  margin-top: 0.0px;
  position: relative;
  width: 205px;
}

.shop-app-lojas .rectangle-11-7hjmpL {
  background-color: rgba(247,81,17,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.shop-app-lojas .rectangle-12-7hjmpL {
  background-color: rgba(108,28,209,1.0);
  height: 8px;
  left: 103px;
  position: absolute;
  top: 0px;
  width: 106px;
}
.shop-app-lojas .rectangle-13-25fHuc {
  background-color: rgba(228,29,127,1.0);
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.shop-app-lojas .rectangle-14-25fHuc {
  background-color: var(--white);
  height: 8px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 105px;
}
.shop-app-lojas .rectangle-21-4eduM0 {
  background-color: rgba(35,10,68,1.0);
  height: 153px;
  left: 0px;
  position: absolute;
  top: 8px;
  width: 414px;
}
.shop-app-lojas .x-kdIUlB {
  background-color: transparent;
  height: 44px;
  left: 1px;
  position: absolute;
  top: 4px;
  width: 44px;
}
